/.venv

.DS_Store

__pycache__/
*.py[cod]

.env.*

Bradens_RE_Comparison

/kevin

/notebooks/comparison_test.ipynb

/notebooks/figs/
/notebooks/heat_map
/notebooks/qasm3_circuits/
/notebooks/qasm_circuits/
/notebooks/results/

pipeline.txt