/.venv

.DS_Store

__pycache__/
*.py[cod]

.env.*

Bradens_RE_Comparison

/notebooks/comparison_test.ipynb

braden_pipeline.ipynb
list_hamlib_by_qubits.py
low_T_circuits.ipynb
metrics.ipynb
output_qdk_vs_qualtran_report.md
output.ipynb
qubits.txt