.venv

.DS_Store

__pycache__/
*.py[cod]
.pytest_cache

.env.*

archive

**/figs/
**/heat_map
**/qasm3_circuits/
**/qasm_circuits/
**/results/
data

third_party/qdk/
third_party/Qualtran/

*.qasm
*.csv
*.png

*.egg-info